<footer class="bg-dark text-white py-5 mt-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-4 g-4">
                <h6 class="text-white fw-bold mb-3">CEPLAN</h6>
                <p class="small text-white-50 m-0">
                    Es el organismo técnico especializado que ejerce la función de órgano rector, orientador y de
                    coordinación del Sistema Nacional de Planeamiento Estratégico; orientado al desarrollo de la
                    planificación estratégica como instrumento técnico de gobierno y gestión para el desarrollo armónico
                    y sostenido del país y el fortalecimiento de la gobernabilidad democrática en el marco del Estado
                    constitucional de derecho.
                </p>
            </div>
            <div class="col-lg-4">
                <div class="col">
                    <h6 class="text-white fw-bold mb-3">Enlaces de Interés</h6>
                    <ul class="list-unstyled d-flex flex-column gap-2 small">
                        <li><a href="#" class="text-white-50 text-decoration-none">Políticas de Privacidad</a></li>
                        <li><a href="#" class="text-white-50 text-decoration-none">Términos y Condiciones</a></li>
                        <li><a href="#" class="text-white-50 text-decoration-none">Mapa del Sitio</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h6 class="text-white fw-bold mb-3">Ultimas actividades</h6>
                </div>

            </div>

            <div class="col-lg-4">
                <h6 class="text-white fw-bold mb-3">Contacto</h6>
                <p class="small m-0"><i class="fa-solid fa-location-dot me-2"></i>Av. Paseo de la República, Lima, Perú
                </p>
                <p class="small mt-2"><i class="fa-solid fa-phone me-2"></i>(01) 211-7800</p>
            </div>
        </div>
    </div>
</footer>