<div class="container mt-5">
    <div>
        <div class="row">
            <div class="col-sm-7 col-12 title-trends">
                Ámbito territorial
            </div>
            <div class="col-sm-5 col-12">
                <div class="row justify-content-end">
                    <a routerLink="../tendencia-global" class="col-3" href="/tendencia-global">
                        <img class="icon-trends" src="https://observatorio.ceplan.gob.pe/assets/img/t/tg-b.webp"
                            alt="Tendencia global">
                    </a>
                    <a routerLink="../tendencia-nacional" class="col-3" href="/tendencia-nacional">
                        <img class="icon-trends" src="https://observatorio.ceplan.gob.pe/assets/img/t/tn-w.webp"
                            alt="Tendencia nacional">
                    </a>
                    <a routerLink="../tendencia-territorial" class="col-3" href="/tendencia-territorial">
                        <img class="icon-trends" src="https://observatorio.ceplan.gob.pe/assets/img/t/tt-w.webp"
                            alt="Tendencia territorial">
                    </a>
                    <a routerLink="../tendencia-sectorial" class="col-3" href="/tendencia-sectorial">
                        <img class="icon-trends" src="https://observatorio.ceplan.gob.pe/assets/img/t/ts-w.webp"
                            alt="Tendencia sectorial">
                    </a>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <p class="col-12">
                <b>Fenómeno de escala mundial</b> consistente en el tiempo, que interactúa o <b>que podría incidir en el
                    desarrollo nacional</b> actual y hacia el mediano o largo plazo. Su movimiento permite identificar
                la dinámica entre lo local y global.
            </p>
        </div>
    </div>
</div>